body{
	padding:0;
	margin:0;
	background-color: #696969;
}
h2{
	text-align: center;
}

.form{
	padding: 50px;
	background-color: #A9A9A9;
	position: absolute;
 	text-align: center;
 	margin-left: 480px;
}


input[type=text], input[type=password], select {
  width: 300px;
  padding: 2px;
  margin: -30px 0;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing:

  

}
input[type=submit] {
  width: 300px;
  background-color: #000000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}